<select class="@Class" id="@idGuid" @onchange="ChangeAction" value="@SelectedValue">
    @foreach (var item in IdNameEnum)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
@code {
    [Parameter]
    public IEnumerable<INameId> IdNameEnum { get; set; }
    [Parameter]
    public int? SelectedValue { get; set; }
    [Parameter]
    public Action<ChangeEventArgs> ChangeAction { get; set; }
    [Parameter]
    public string Class { get; set; } = "form-control";
    string idGuid;

    protected override void OnParametersSet()
    {
        idGuid = "bcs_" + Guid.NewGuid().ToString();
        if (IdNameEnum == null) return;
        if (IdNameEnum.Count() > 0)
        {
            SelectedValue = SelectedValue ?? IdNameEnum.First().Id;
        }
    }
}